body, body {
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  margin: 0;
}

#app {
  background-color: #202140;
  color: #dbdbdb;
  display: flex;
  flex-direction: column;
  height: calc(100 * var(--vh));
}
